body {
  width: 100%;
  font-family: "Inter", sans-serif;
  background: rgb(255, 247, 247);
}

.container {
  margin: auto;
  padding: 102px;
  width: 1150px;
  display: flex;
  gap: 100px;
}

h1,
h2 {
  margin-bottom: 60px;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -0em;
  color: #000;
}

.input-data,
.output-data,
.post {
  width: 500px;
}

.output__title {
  margin-bottom: 50px;
}

.title__input,
.text__input {
  margin-bottom: 5px;
  padding: 11px 0 10px 20px;
  width: 500px;
  height: 60px;
  font-size: 32px;
  line-height: 39px;
  letter-spacing: -0em;
  color: #000;
  border: 1px solid #000;
  resize: none;
  text-align: left;
}

.text__input {
  height: 250px;
}

.posts,
.title__input::placeholder,
.text__input::placeholder {
  color: #979797;
}

.post__btn {
  margin-bottom: 30px;
  width: 500px;
  height: 60px;
  font-family: inherit;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  background-color: #0094ff;
  color: #fff;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
}

.post__btn:hover {
  background-color: #fff;
  color: #0094ff;
  opacity: 0.9;
}

.posts,
.post__title {
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 0em;
  text-align: left;
}

.post__title {
  margin-bottom: 15px;
  color: #000;
}

p,
.post__text {
  margin-bottom: 50px;
  font-size: 25px;
  font-weight: 400;
  line-height: 31px;
  color: #000;
  letter-spacing: 0em;
  text-align: left;
  word-wrap: break-word;
}

.post__date {
  margin-bottom: 15px;
  color: #0094ff;
}

.warning__message,
.overprinted {
  color: #f00;
  text-align: center;
}

.warning__message-hidden {
  display: none;
}

.symbols__counter {
  margin-bottom: 15px;
  padding-left: 10px;
}
